div.page-title {
  color: #255F85;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul.tile, div.create-tile {
  background-color: #e5e5e5;
  border: 5px solid #fff;
  margin-bottom: 8px;
  padding: 20px;
}

li.tile-title {
  color: #5386E4;
  text-align: center;
}

span.property {
  color: #5F5E60;
  font-style: italic;
  font-weight: bold;
}

button {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.hide {
  display: none;
}

.icon {
  height: 17px;
  width: 17px;
}

.plus-icon {
  cursor: pointer;
  height: 12px;
  width: 12px;
  transform: translate(3px, -2px);
}

.update-button {
  background-color: #5386E4;
  border: 1px solid #5386E4;
  color: #fff;
  font-size: 0.87rem;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.edit-form {
}

.edit-button:focus {
  outline: none;
}

.label-edit {
  padding: 5px;
}

.input-edit {
  border: 1px solid #255F85;
  padding: 5px;
}