.App {
  font-family: 'Lato', sans-serif;
}

div.page-title {
  color: #255F85;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

div.page-title h1 {
  font-weight: 900;
}

ul {
  list-style-type: none;
}

ul.tile, div.create-tile {
  background-color: #e5e5e5;
  border: 5px solid #fff;
  margin-bottom: 8px;
  padding: 20px;
}

.status {
  border-radius: 5px;
  height: 5px;
  margin-top: 10px;
}

.researching {
  background-color: #CCC !important;
}

.pending {
  background-color: #7fddd5 !important;
}

.approved {
  background-color: #48E290 !important;
}

.declined {
  background-color: #FF7F7F !important;
}

li.tile-title {
  color: #5386E4;
  text-align: center;
}

.tile h4 {
  font-weight: bolder;
}

span.property {
  color: #5F5E60;
  font-weight: bold;
}

button {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.hide {
  display: none;
}

.icon {
  height: 17px;
  width: 17px;
}

.plus-icon {
  cursor: pointer;
  height: 12px;
  width: 12px;
  transform: translate(3px, -2px);
}

.cancel-icon {
  cursor: pointer;
  transform: translateY(9px);
}

.cancel-icon-wrapper {
  text-align: right;
}

.update-button {
  background-color: #5386E4;
  border: 1px solid #5386E4;
  color: #fff;
  font-size: 0.87rem;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.update-button:disabled {
  background-color: #999;
  border-color: #999;
  color: #777;
}

.edit-button:focus, .icon-button:focus {
  outline: none;
}

.edit-form {
  margin-top: 5px;
}


.label-edit {
  padding: 5px;
}

.input-edit {
  border: 1px solid #255F85;
  padding: 5px;
}

.input-error {
  border: 1px solid #f52000;
}

.error-text-wrapper {
  text-align: right;
}

.error-text {
  margin-top: 2px;
  color: #f52000;
}

.disabled {
  disabled: disabled;
}

@media only screen and (max-width: 768px) {
  div.page-title h1 {
    font-size: 200%;
  }
}